@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.hero {
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 60px;
}
.hero h4 {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}
.hero h3 {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}


.hero h1 {
    color: darkcyan;
    font-size: 40px;
    font-weight: 700;
}
.devisions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 60px;
    
}
.devisions .scl-div{
border: 2px solid black;
padding: 20px;
border-radius: 10px;

}
.devisions .scl-div .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(46, 189, 141);
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    transition: 0.3s ease;
}
.devisions .col-div{
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;

}
.devisions .col-div .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(46, 189, 141);
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    transition: 0.3s ease;
}